# Note
NOTES.md

# Dataset
dataset/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor files
.vscode/
*.swp
*~

# MacOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyd
*.so
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/

# PyInstaller
*.manifest
*.spec

# Trained Models
ticket_triage_model/
